body{
    background-color: rgba(84, 30, 172, 0.123);
}
.btn {
    background-color: rgba(145, 12, 52, 0.829);
    border: 5px solid rgba(0, 0, 0, 0.699);
    color: rgba(122, 17, 22, 0.959);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: 5px solid rgba(182, 25, 77, 0.74);
}
.btn:hover {
    background-color: rgb(252, 0, 126);
}
#menu {
    position: fixed;
    left: 5px;
    top: 0;}